body {
  background-image: url(../images/traditional-ghana.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.jumbotron {
  margin 50px;
  padding: 50px;
  text-align: center;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
}

a {
  color: white;
  font-weight: bold;
}

.card {
  background-color: rgba(0, 0, 0, 0.377);
  margin: 50px;
  padding: 15px;
  color: white;
  text-align: center;
}